* {
   box-sizing: border-box;
}

body {
	margin:0;
}

nav {
	margin: 50px 150px 10px 150px;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}

.nav-left {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.logo {
	height: 70px;
	width: 70px;
}

.nav-right {
	display: flex;
	list-style-type: none;
}

.nav-right li {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

.nav-right a:link, a:visited {
	text-decoration: none;
	color: black;
}

.nav-right a:hover, a:active {
	text-decoration: underline;
	background-color: pink;
	color: #FFFFFF;
}

header {
	margin: 170px 150px 100px 150px;
	background-color: transparent;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	color: pink;
	font-size: 4rem;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: black;
	font-size: ;
}

#about {
	margin: 20px 150px 100px 150px;
	display: flex;
	justify-content: flex-end;
}


/*#about img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}*/



.bio-content {

}

#about p {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	width: 700px;

}





/*.contact {
	display: flex;
	justify-content: flex-end;
	margin: 0 40px 0 0;
}*/

/*.contact img {
	display: flex;
	justify-content: space-around;
	height: 50px;
	width: 50px;
	padding: 10px;
}

.contact p {
	margin: 0px 150px 100px 150px;
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: black;
	font-size: ;

}*/



.diagonal-box {
	background-image: linear-gradient(45deg, #6303B1, #ff0099);
	transform: skewY(-11deg);
	padding: 100px;
}


.content {
	max-width: 100em;
	margin: 0 auto;
	transform: skewY(11deg);
}