* {
   box-sizing: border-box;
}

body {
	margin:0;
}

.diagonal-box {
	background-image: linear-gradient(45deg, #ed4264, #ffedbc);
	transform: skewY(-11deg);
	padding: 100px;
}


.content {
	max-width: 100em;
	margin: 0 auto;
	transform: skewY(11deg);
}

/* NAV STYLING */

nav {
	margin: 50px 150px 10px 150px;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}

nav li {
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	font-size: 1.1rem;
}

nav a:link, a:visited a:hover a:active {
	text-decoration: none;
	color: #FFFFFF;
}

/* HEADER STYLING */

header {
	margin: 140px 150px 100px 150px;
	background-color: transparent;
}

header a:link, a:visited, a:active {
	text-decoration: none;
	color: #ed4264;
}

header a:hover {
	text-decoration: underline;
}

header h1 {
	font-family: 'Londrina Solid', serif;
	font-weight: 500;
	color: #FFFFFF;
	font-size: 4rem;
}

header h1 span {
	font-family: Londrina Outline;
	font-size: 4rem;
}

header h1 span:hover {
	font-family: 'Londrina Solid', serif;
	color: white;
	font-size: 4rem;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: thin;
	color: white;
	font-size: ;
}

header img {
	width: 115px;
	height: 100px;
	padding: 0 15px 0 0;
}

/* ABOUT SECTION STYLING */

#about {
	margin: 20px 150px 100px 150px;
	display: flex;
	justify-content: flex-end;
}

.home-arrow {
	height: 55px;
	float: right;
	position: fixed;
	right: 50px;
	top: 85%;
}

.bio-content h2 {
	font-family: 'Londrina Solid', serif;
	font-size: 3rem;
	color: #ed4264;
}

.bio-content p {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	width: 700px;

}



